# Helm values override for MariaDB instance
namespaceOverride: {{ namespace }}

commonLabels:
  app: mariadb
  service-type: mariadb

commonAnnotations: 
  sovcore.byop.ibm.com/crn: {{ context.crn | default("crn:unknown") | yaml_safe }}
  sovcore.byop.ibm.com/account-id: {{ context.account_id | default("unknown") | yaml_safe }}
  sovcore.byop.ibm.com/sub-account-id: {{ context.sub_account_id | default("unknown") | yaml_safe }}
  sovcore.byop.ibm.com/platform: {{ context.platform | default("unknown") | yaml_safe }}

instance:
  name: {{ instance_name }}
  id: "{{ instance_id }}"
  environment: {{ environment }}
  clusterName: "{{ cluster_name }}"

image:
  registry: BYOP_REGISTRY
  repository: byop/mariadb
  tag: "12.3.2"

imagePullSecrets:
{% if image_pull_secret_name %}
  - name: {{ image_pull_secret_name }}
{% else %}
  []
{% endif %}

statefulset:
  replicas: {{ replicas }}

auth:
  rootPassword: {{ spec.root_password | yaml_safe }}
  database: {{ spec.database_name | yaml_safe }}
  username: {{ spec.database_user | yaml_safe }}
  password: {{ spec.database_password | yaml_safe }}

databaseConfig:
  character-set: {{ spec.character_set | yaml_safe }}
  collation: {{ spec.collation | yaml_safe }}

persistence:
  size: {{ storage_size }}
  # storageClass: "ceph-rbd-platform"